.card-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .card {
    width: 100px;
    height: 150px;
    background-color: #55aa55;
    margin: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Nerko One', cursive;
    font-size: 24px;
    color: #353c4d;
  }  